[submodule "eagle/biofeedback_2560_3V"]
	path = eagle/biofeedback_2560_3V
	url = https://github.com/mpflaga/eagle-biofeedback_2560_3V.git
[submodule "Arduino/hardware/biofeedback-mega"]
	path = Arduino/hardware/biofeedback-mega
	url = https://github.com/mpflaga/biofeedback-mega.git
[submodule "arduino/libraries/BioFeedBack"]
	path = arduino/libraries/BioFeedBack
	url = https://github.com/mpflaga/Arduino-BioFeedBack.git
[submodule "arduino/libraries/Bounce"]
	path = arduino/libraries/Bounce
	url = https://github.com/mpflaga/Arduino-Bounce.git
[submodule "arduino/libraries/digitalWriteFast"]
	path = arduino/libraries/digitalWriteFast
	url = https://github.com/mpflaga/Arduino-digitalWriteFast.git

